
.all-about-diet {
  margin: 0;
  width: 502px;
  position: relative;
  font-size: 50px;
  text-decoration: underline;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.diet-text {
  width: 1123px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px;
  box-sizing: border-box;
  max-width: 100%;
}
.recommended-diet-for {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.recommended-diet-for-childrens-wrapper {
  width: 1091px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--headline-size);
}
.general-diet-plan {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  white-space: pre-wrap;
}
.breakfast,
.general-diet-plan {
  margin: 0;
  font-size: var(--headline-size);
}
.breakfast,
.option-12 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-11 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-1 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.whole-grain-oats {
  letter-spacing: 0.02em;
}
.whole-grain-oats-or-poha-flat1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-cup-of {
  letter-spacing: 0.02em;
}
.a-cup-of-skimmed-milk-or-butte {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-small-bowl {
  letter-spacing: 0.02em;
}
.a-small-bowl-of-fresh-fruits {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.whole-grain-oats-or-poha-flat {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.option-22 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-21 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-2 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.whole-wheat-toast {
  letter-spacing: 0.02em;
}
.whole-wheat-toast-with-a-sprea1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-boiled-egg {
  letter-spacing: 0.02em;
}
.a-boiled-egg-or-a-serving-of-l {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-piece-of {
  letter-spacing: 0.02em;
}
.a-piece-of-fruit-apple-or-ban {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.whole-wheat-toast-with-a-sprea {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.mid-morning-snack {
  margin: 0;
  font-size: var(--headline-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.a-handful-of {
  letter-spacing: 0.02em;
}
.a-handful-of-nuts-almonds-wa1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-cup-of1 {
  letter-spacing: 0.02em;
}
.a-cup-of-green-tea-or-black-co {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-handful-of-nuts-almonds-wa {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.lunch {
  margin: 0;
  font-size: var(--headline-size);
}
.lunch,
.option-15 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-14 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-13 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.brown-rice-or {
  letter-spacing: 0.02em;
}
.brown-rice-or-quinoa-with-a-po1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.mixed-vegetable-salad {
  letter-spacing: 0.02em;
}
.mixed-vegetable-salad-with-oli {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.dal-lentils-or {
  letter-spacing: 0.02em;
}
.dal-lentils-or-legumes {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.brown-rice-or-quinoa-with-a-po {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.option-25 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-24 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-23 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.roti-whole-wheat {
  letter-spacing: 0.02em;
}
.roti-whole-wheat-bread-with1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.roti-whole-wheat-bread-with {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.protein-tofu-paneer {
  margin: 0;
  letter-spacing: 0.02em;
  white-space: pre-wrap;
}
.mixed-vegetable-curry1 {
  letter-spacing: 0.02em;
}
.mixed-vegetable-curry {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-small-bowl1 {
  letter-spacing: 0.02em;
}
.a-small-bowl-of-curd {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.mixed-vegetable-curry-a-small {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.afternoon-snack {
  margin: 0;
  font-size: var(--headline-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.a-bowl-of {
  letter-spacing: 0.02em;
}
.a-bowl-of-sprouts-or-a-fruit-s1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.herbal-tea-or {
  letter-spacing: 0.02em;
}
.herbal-tea-or-a-glass-of-butte {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-bowl-of-sprouts-or-a-fruit-s {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.dinner {
  margin: 0;
  font-size: var(--headline-size);
}
.dinner,
.option-18 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-17 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-16 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.grilled-or-baked {
  letter-spacing: 0.02em;
}
.grilled-or-baked-fish-or-chick1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.quinoa-or-brown {
  letter-spacing: 0.02em;
}
.quinoa-or-brown-rice {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.steamed-vegetables-or {
  letter-spacing: 0.02em;
}
.steamed-vegetables-or-sauted {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.grilled-or-baked-fish-or-chick {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.option-28 {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.option-27 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.option-26 {
  margin: 0;
  font-size: var(--headline-size);
  padding-left: var(--padding-32xl);
}
.lentil-soup-dal {
  letter-spacing: 0.02em;
}
.lentil-soup-dal-with-a-side1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.stir-fried-or-sauted {
  letter-spacing: 0.02em;
}
.stir-fried-or-sauted-vegetabl {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.lentil-soup-dal-with-a-side {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.before-bed {
  margin: 0;
  font-size: var(--headline-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.a-glass-of {
  letter-spacing: 0.02em;
}
.a-glass-of-warm-milk-or-chamom1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.a-glass-of-warm-milk-or-chamom {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.general-tips {
  margin: 0;
  font-size: var(--headline-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.stay-hydrated2 {
  letter-spacing: 0.02em;
}
.stay-hydrated1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.stay-hydrated {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.drink-plenty-of {
  letter-spacing: 0.02em;
}
.drink-plenty-of-water-througho1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.drink-plenty-of-water-througho {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.limit-processed-foods2 {
  letter-spacing: 0.02em;
}
.limit-processed-foods1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.limit-processed-foods {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.reduce-the-intake {
  letter-spacing: 0.02em;
}
.reduce-the-intake-of-processed1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.reduce-the-intake-of-processed {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.portion-control2 {
  letter-spacing: 0.02em;
}
.portion-control1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.portion-control {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.be-mindful-of {
  letter-spacing: 0.02em;
}
.be-mindful-of-portion-sizes-to1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.be-mindful-of-portion-sizes-to {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.regular-physical-activity2 {
  letter-spacing: 0.02em;
}
.regular-physical-activity1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.regular-physical-activity {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.include-regular-exercise {
  letter-spacing: 0.02em;
}
.include-regular-exercise-in-yo1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.include-regular-exercise-in-yo {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.variety-and-moderation2 {
  letter-spacing: 0.02em;
}
.variety-and-moderation1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.variety-and-moderation {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.aim-for-a {
  letter-spacing: 0.02em;
}
.aim-for-a-variety-of-nutrient-1 {
  margin-bottom: 0;
  white-space: pre-wrap;
}
.aim-for-a-variety-of-nutrient- {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.p {
  margin: 0;
  font-size: var(--headline-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.diet-page,
.general-diet-plan-container {
  position: relative;
  text-align: left;
  color: var(--color-white);
  font-family: var(--headline);
}
.general-diet-plan-container {
  width: 1209px;
  height: 1693px;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.diet-page {
  width: 100%;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 9px var(--padding-2xl) 130px var(--padding-xl);
  box-sizing: border-box;
  gap: 45px 0;
  letter-spacing: normal;
  font-size: 55px;
}
@media screen and (max-width: 825px) {
  .all-about-diet {
    font-size: 44px;
  }
  .general-diet-plan-container,
  .recommended-diet-for {
    font-size: var(--font-size-11xl);
  }
}
@media screen and (max-width: 675px) {
  .diet-page {
    gap: 45px 0;
  }
}
@media screen and (max-width: 450px) {
  .all-about-diet {
    font-size: 33px;
  }
  .general-diet-plan-container,
  .recommended-diet-for {
    font-size: var(--font-size-4xl);
  }
}

span{
  font-size: 20px;
}
