.objectother-17-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1225px) {
  .objectother-17-icon {
    align-self: stretch;
    width: auto;
  }
}
